<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{views/common/layout :: layout(~{::head}, ~{::main})}">

<head>
	<!-- 페이지 제목을 설정합니다. -->
	<title>영화추천 - 두무비</title>
	<!-- 추천 목록 페이지에 필요한 CSS 파일을 링크합니다. -->
	<link rel="stylesheet" th:href="@{/css/recommend/list.css}">
	<!-- 추천 페이지에 필요한 JavaScript 파일을 링크합니다. -->
	<script src="/js/recommend.js"></script>
</head>

<body>
	<main id="recommend">
		<div class="container">
			<!-- 페이지 제목을 표시합니다. -->
			<p class="page-title">영화&nbsp;추천</p>
			<!-- 장르 선택 메뉴를 표시하는 내비게이션 바를 생성합니다. -->
			<nav id="genre-menu">
				<div class="tabs">
					<ul>
						<!-- 'ALL' 탭을 기본으로 활성화 상태로 표시합니다. -->
						<li onclick="" data-content="0" class="tab active">ALL</li>
						<!-- 서버에서 전달된 장르 목록을 반복하여 탭을 생성합니다. -->
						<th:block th:each="genre, status : ${T(com.red.domovie.domain.entity.Genre).values()}">
							<!-- 각 장르 탭을 클릭할 때마다 data-content 속성이 달라지며, 해당 탭이 선택됩니다. -->
							<li onclick="" th:data-content="${status.index+1}" class="tab" th:text="${genre.koName}">
								장르</li>
						</th:block>
					</ul>
				</div>
			</nav>

			<!-- 검색 기능을 제공하는 검색 컨테이너입니다. -->
			<div class="search-container">
				<!-- 검색 범주를 선택하는 드롭다운 메뉴입니다. -->
				<select id="filterCategory">
					<option value="title">제목</option>
					<option value="content">내용</option>
					<option value="author">글쓴이</option>
				</select>
				<!-- 사용자가 검색어를 입력할 수 있는 입력 필드입니다. -->
				<input type="text" id="searchInput" placeholder="검색어를 입력하세요">
				<!-- 검색 버튼입니다. 검색 아이콘을 포함하고 있습니다. -->
				<button id="searchButton"><i class="fas fa-search"></i></button>
				<!-- 새로운 추천 글을 작성하기 위한 버튼입니다. -->
				<a href="/recommends/new" id="writeButton">글&nbsp;작성</a>
			</div>

			<!-- 영화 추천 목록을 표시하는 테이블입니다. -->
			<table class="board-table">
				<thead>
					<tr>
						<!-- 테이블 헤더로, 각 열의 제목을 나타냅니다. -->
						<th>번호</th>
						<th>포스터</th>
						<th class="title">제목</th>
						<th>글쓴이</th>
						<th>날짜</th>
					</tr>
				</thead>
				<tbody>
					<!-- 서버에서 전달된 추천 글 목록을 반복하여 테이블 행을 생성합니다. -->
					<tr th:each="dto : ${list}">
						<!-- 추천 글의 번호를 표시합니다. -->
						<td th:text="${dto.no}"></td>

						<!-- 추천 글의 포스터 이미지를 표시합니다. -->
						<td>
							<img th:src="${dto.imgUrl}" alt="Poster" height="100px">
						</td>

						<!-- 추천 글의 제목을 표시하며, 클릭 시 해당 글의 상세 페이지로 이동하는 링크를 제공합니다. -->
						<td class="title content">
							<a th:href="|/recommends/${dto.no}|" th:text="${dto.title}"></a>
							<!-- 댓글 수가 0보다 큰 경우, 댓글 수를 표시합니다. -->
							<span th:if="${dto.commentCount > 0}" th:text="|[${dto.commentCount}]|"
								class="comment-count"></span>
							<!--
						gt: Thymeleaf에서 두 값을 비교하는 연산자로, 조건부 렌더링을 위해 사용됩니다. 
						여기서는 dto.commentCount가 0보다 큰 경우에만 특정 HTML 요소를 렌더링합니다.
						
						|[${dto.commentCount}]|: Thymeleaf의 문자열 템플릿 구문으로, 데이터를 형식화하여 문자열로 출력합니다. 
						dto.commentCount 값을 대괄호로 감싸서 표시합니다.
						 -->
						</td>

						<!-- 추천 글 작성자의 이메일과 이름을 표시합니다. -->
						<td>
							<div th:text="${dto.email}"></div>
							<div th:text="${'('+dto.userName+')'}"></div>
						</td>

						<!-- 추천 글이 작성된 날짜를 지정된 형식으로 포맷하여 표시합니다. -->
						<td th:text="${#temporals.format(dto.createdAt, 'yyyy.MM.dd')}"></td>
					</tr>
					<!-- 추천 글 목록이 비어 있을 경우, 이를 알리는 메시지를 표시합니다. -->
					<tr th:if="${#lists.isEmpty(list)}">
						<td colspan="5" style="text-align: center; padding: 40px 0;">현재 영화 추천글이 존재하지 않습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>
