	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      th:replace="~{views/common/layout :: layout(~{::head}, ~{::main})}">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>글쓰기 페이지</title>
	    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
	    <link rel="stylesheet" href="/css/recommend/write.css"> <!-- 추가 스타일 시트 -->
	</head>
	<body>
		<main>
	    <div class="container">
	        <p class="page-title">영화 추천 글쓰기</p>
	        <form id="writeForm" method="post" action="/recommends/new" enctype="multipart/form-data">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	          <input type="hidden" id="content" name="content">
				
				<label for="category">장르&nbsp;선택</label>
	            <select id="category" name="genre" required>
	                <option value="액션">액션</option>
	                <option value="멜로/로맨스">멜로/로맨스</option>
	                <option value="드라마">드라마</option>
	                <option value="공포">공포</option>
	                <option value="코미디">코미디</option>
	                <option value="애니메이션">애니메이션</option>
	                <option value="sf/판타지">SF/판타지</option>
	                <option value="기타">기타</option>
	            </select><!--<br><br>-->
	            
	            <label for="file">포스터&nbsp;업로드</label>
	            <input type="file" id="file" name="file">
				
	            <label for="title">제&nbsp;목</label>
	            <input type="text" id="title" name="title" required><!--<br><br>-->
	            
	            <label for="editor">내&nbsp;용</label>
	            <div id="editor"></div><!--<br><br>-->
	            <br><br>
	            
	            <div class="button-group">
	                <button type="submit" id="submitButton">글 올리기</button>
	                <button type="button" id="cancelButton">취소</button>
	            </div>
	        </form>
	    </div>
	    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	    <script src="/js/write.js" defer></script>
	    </main>
	    
	</body>
	</html>
