<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{views/admin/admin-layout :: layout(~{::head}, ~{::main})}">
<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />	
    <link rel="stylesheet" href="/css/admin/faq.css">
</head>
<main>
    <div class="container">
        <h1>자주 묻는 질문 관리</h1>
        <div class="faq-buttons">
        	<button class="add-btn" id="first-add-btn">+</button>
        	<button class="cancel-btn" id="cancel-btn" style="display: none;">취소</button>
        </div>
        <div id="faq-list" class="faq-list">
            <!-- FAQ 항목들이 여기에 동적으로 추가됩니다 -->
        </div>
    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var faqData = /*[[${faqList}]]*/ [];
        /*]]>*/
    </script>
    <script src="/js/admin/faq.js"></script>
</main>
</html>