<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Box Office Movies</title>
</head>
<body>
	<div class="movie-item animate__animated animate__flipInY" th:each="dto : ${list}" th:data-docid="${dto.DOCID}">
	    <div class="image-container">
	        <a th:href="@{/movies/detail/{id}(id=${dto.DOCID})}">
	            <img th:src="${dto.posters}" th:alt="${dto.movieNm}">
	            <!-- rank 요소를 이미지 위에 위치시키기 위해 추가 -->
	            <span class="box-rank" th:text="${dto.rank}"></span>
	        </a>
	    </div>
	    <h4 class="movie-title" th:text="${dto.movieNm}"></h4>
	    <ul class="box-office-info">
	        <li><span th:text="${dto.openDt}"></span></li>
	        <li><span>일일관람객:</span><span th:text="|${#numbers.formatInteger(dto.audiCnt, 3, 'COMMA')}명|"></span></li>
	        
	        <li><span>누적관람객:</span><span th:text="|${#numbers.formatInteger(dto.audiAcc, 3, 'COMMA')}명|"></span></li>
	    </ul>
	</div>
</body>
</html>
