<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{views/common/layout :: layout(~{::head}, ~{::main})}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common/index.css"> <!-- 스타일 시트 연결 -->
</head>
<body>
    <header>
        <h1>영화 검색 페이지</h1>
    </header>

    <main>
        <div>
            <form action="#" method="get" th:action="@{/movies/search}">
                <input type="text" name="keyword" class="search-box" placeholder="검색어를 입력하세요..." th:value="${keyword}">
                <button type="submit" class="search-button">검색</button>
            </form>
        </div>

        <!-- 검색 결과를 표시할 부분 -->
        <div th:if="${movies != null}">
            <h2>검색 결과</h2>
            <ul>
                <li th:each="movie : ${movies}">
                    <h3 th:text="${movie.title}"></h3>
                    <p th:text="${movie.description}"></p>
                </li>
            </ul>
        </div>

        <!-- 검색 결과가 없을 때 표시할 내용 -->
        <div th:if="${movies == null or #lists.isEmpty(movies)}">
            <p>검색 결과가 없습니다.</p>
        </div>
		
    </main>
</body>
</html>
