<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.red.domovie.domain.mapper.RoomMapper">

	<insert id="saveRoom" parameterType="com.red.domovie.domain.dto.bot.QuestionDTO">
		insert into chatroom (room_id, user_id, created_at, updated_at)
		values(#{key}, #{userId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>
	
	<select id="findAllRoom" resultType="com.red.domovie.domain.dto.chat.ChattingRoomDTO">
		SELECT c.*, u.user_name, u.email, u.profile_image_url
		FROM chatroom c
		JOIN user u ON c.user_id = u.user_id
		ORDER BY c.created_at DESC
	</select>
	
	<select id="findByRoomId" resultType="com.red.domovie.domain.dto.chat.ChattingRoomDTO" parameterType="String">
		select * from chatroom
		where room_id = #{roomId}
	</select>
	
	
	<select id="findAllRooms" parameterType="map" resultType="com.red.domovie.domain.dto.chat.ChattingRoomDTO">
	    SELECT c.*, u.user_name, u.email, u.profile_image_url
	    FROM chatroom c
	    JOIN user u ON c.user_id = u.user_id
	    ORDER BY c.created_at DESC
	    LIMIT #{offset}, #{size}
	</select>
	
	<select id="countAllRooms" resultType="long">
	    SELECT COUNT(*)
	    FROM chatroom
	</select>
	
	<insert id="saveChatQuestion" parameterType="com.red.domovie.domain.dto.bot.QuestionDTO">
		insert into chat (room_id, message, created_at)
		values(#{key}, #{content}, CURRENT_TIMESTAMP)
	</insert>
	
	<insert id="saveChatAnswer" parameterType="com.red.domovie.domain.dto.chat.AnswerDTO">
		insert into chat (room_id, message, created_at, is_user)
		values(#{key}, #{content}, CURRENT_TIMESTAMP, 0)
	</insert>
	
	<select id="findChatByRoomId" parameterType="String" resultType="com.red.domovie.domain.dto.chat.ChattingDTO">
		SELECT 
            c.*,
            u.user_name,
            u.email,
            u.profile_image_url
        FROM 
            chat c
        INNER JOIN 
            chatroom cr ON c.room_id = cr.room_id
        INNER JOIN 
            user u ON cr.user_id = u.user_id
        WHERE 
            c.room_id = #{roomId}
        ORDER BY 
            c.created_at ASC
	</select>
	
	<update id="updateTime" parameterType="String">
		update chatroom
		set updated_at = current_timestamp
	</update>
	
	<select id="findByRoomInfo" resultType="com.red.domovie.domain.dto.chat.ChatRoomDTO" parameterType="String">
		SELECT c.*, u.user_name, u.email, u.profile_image_url
		FROM chatroom c
		JOIN user u ON c.user_id = u.user_id
		where room_id = #{roomId}
	</select>
	
</mapper>