<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.red.domovie.domain.mapper.LoginMapper">
	<insert id="saveUser"
		parameterType="com.red.domovie.domain.entity.UserEntity">
		INSERT INTO user (user_name, nick_name, email, phone_number, password,
		birth_date, tier_id)
		VALUES (#{userName}, #{nickName}, #{email}, #{phoneNumber}, #{password},
		#{birthDate}, #{tier})
	</insert>

	<select id="countByEmail" parameterType="string"
		resultType="int">
		SELECT COUNT(*) FROM user WHERE email = #{email}
	</select>

	<select id="findEmailByNameAndBirthDate"
		parameterType="com.red.domovie.domain.dto.login.FindIdDTO" resultType="String">
		SELECT email
		FROM user
		WHERE user_name = #{userName} AND birth_date = #{birthDate}
	</select>
	
</mapper>
