<footer th:fragment="cmbottom" class="footer">
<!--     <div class="footer-top">

    </div> -->
    <div class="footer-bottom">
		<div class="footer-content">
	        <div class="footer-row">
	            서비스 이용약관 | 개인정보 처리방침 | 회사 안내
	        </div>
	        <div class="footer-row">
	            고객센터 | cs@domovie.com, 02-515-9985
	        </div>
	        <div class="footer-row">
	            제휴 및 대외 협력 | <a href="#">https://domovie/contact</a>
	        </div>
	        <div class="footer-row">
	            주식회사 DoMovie | 서울특별시 노원구 상계동 593-1 화일빌딩 3층
	        </div>
	        <div class="footer-row">
	            DoMovie © 2024 Inc. All rights reserved.
	        </div>
	    </div>
    </div>
</footer>

