<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="layout(pHead, pMain)">

<head>
	<meta charset="UTF-8">
	<!-- CSRF 보호를 위한 메타 태그 추가 -->
<!-- 	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- 공통적용 -->
	<link rel="icon" type="image/x-icon" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/common/reset.css">
	<link rel="stylesheet" href="/css/common/header.css">
	<link rel="stylesheet" href="/css/common/chatbot.css">
	<link rel="stylesheet" href="/css/common/footer.css">

	<!-- jQuery 라이브러리 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<!-- jQuery UI 라이브러리 -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- FontAwesome 라이브러리 -->
	<script src="https://kit.fontawesome.com/890a398c47.js" crossorigin="anonymous"></script>
    <script src="/js/common/common.js" defer></script>
    
    <!-- 챗봇 js 및 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script src="/js/common/chatbot.js"></script>
	<script src="/js/common/bot-function.js"></script>

	<!-- 페이지 별로 다를 수 있는 헤드 요소 삽입 -->
	<th:block th:replace="${pHead}" />

	<title>두무비</title>
</head>

<body>

	<div id="layoutWrap">

		<!-- 헤더 -->
		<th:block th:replace="~{views/common/cmheader :: cmheader}" />

		<!-- 메인 콘텐츠 -->
		<th:block th:replace="${pMain}" />

		<!-- 푸터 -->
		<th:block th:replace="~{views/common/cmfooter :: cmbottom}" />
		
		<!-- 챗봇 -->
		<th:block th:replace="~{views/common/chatbot :: chatbot}" />
		
	</div>

</body>

</html>