<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/reset.css">
</head>
<body>
	
	<main class="index-main">

		<section class="banner">
			<img src="/img/index/banner01.jpg" alt="">
		</section>
			<div class="container">
		<section class="movie-list">
			<h2>박스오피스 순위</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					<img src="/img/index/movie1.jpg" alt="">
					<div class="info">
						<p>영화 제목 1</p>
						<p>개봉일</p>
						<p>국가</p>
						<p>예매율</p>
						<p>누적 관객</p>
					</div>
				</div>
				<div class="movie-item">
					<img src="/img/index/movie2.jpg" alt="">
					<p>영화 제목 1</p>
				</div>
				<div class="movie-item">
					<img src="/img/index/movie3.jpg" alt="">
					<p>영화 제목 1</p>
				</div>
				<div class="movie-item">
					<img src="/img/index/movie4.jpg" alt="">
					<p>영화 제목 1</p>
				</div>
				<div class="movie-item">
					<img src="/img/index/movie5.jpg" alt="">
					<p>영화 제목 1</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>
		</div>
		<section class="movie-list2">
			<div class="container">
			<h2>최고의 리뷰어 랭킹</h2>
			<div >
				
				<div class="review-event">
					<img src="/img/index/banner02.png" alt="">
					
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
			</div>
		</section>
		<div class="container">
		<section class="movie-list">
			<h2>한국영화 순위</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					
					<p>영화 제목 2</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>

		<section class="movie-list">
			
			<h2>외국영화 순위</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					
					<p>영화 제목 2</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>

		<section class="movie-list">
			<h2>최신 개봉작</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					
					<p>영화 제목 2</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>

		<section class="movie-list">
			<h2>평균별점이 높은 작품</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					
					<p>영화 제목 2</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>

		<section class="movie-list">
			<h2>#공포 #스릴러</h2>
			<div class="movie-grid">
				<!-- 영화 포스터 항목들 -->
				<div class="movie-item">
					
					<p>영화 제목 2</p>
				</div>
				<!-- 추가 영화 항목들... -->
			</div>
		</section>

</div>
	</main>
	
</body>
</html>