<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
    <link rel="stylesheet" type="text/css" href="/css/movieDetail/movieDetail.css">
	<script src="/js/movieDetail/movieDetail.js" defer></script>

</head>

<body>

	<main id="movie-detail">

		<section id="video-wrap">
		   <div class="video">
		   	<iframe src="https://www.youtube.com/embed/zi44N3PGvJw?si=ybwkIHjMRBIlpg0s"frameborder="0" allowfullscreen=""></iframe>
		   </div>
			
			
			<div class="movie-info">
				<ul>
					<li>임영웅ㅣ아임 히어로 더 스타디움 </li>
					<li><span>2024</span><span>공연실황/다큐멘터리</span><span>한국</span></li>
					<li><span>1시간 49분</span><span>전체</span></li>
					<li><span>예매순위 1위</span><span>개봉날짜</span><span>누적판매 461명</span></li>
				</ul>
			
			</div>
		</section>

		<section id="movie-contents">
			<div class="movie-contents-wrap">

				<div class="movie-poster">
					<img
						src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240814_263%2F1723612743690sGgr8_JPEG%2Fmovie_image.jpg"
						alt="Movie Poster">
				</div>

				<div class="movie-detail-contents">

					<div class="stararea">
						<span class="starpoint"></span> <span class="point">4.0</span>
					</div>

					<div class="movie-description">
						<ul>
							<li>
								10만 영웅시대와 함께 상암벌을 정복한 임영웅의 스타디움 입성기! “영웅시대가 저와 별의 이야기를 함께 써 내려가고 있다고 생각해요” 2024년 5월, 서울월드컵경기장에서 양일 10만 명의 관객을 동원하며 콘서트 안팎으로 폭발적인 화제를 일으켰던 임영웅의 콘서트를 극장에서 다시 만난다. 무대 위 압도적인 가창력과 다채로운 퍼포먼스, 새로운 도전을 마다 않는 무대 뒤의 열정적인 모습과 영웅시대를 향한 진솔한 마음, 그리고 최고의 공연을 위해 임영웅과 제작진 모두가 합심해 달려온 1년여의 기록까지, 초대형 IMAX와 ScreenX로 풍성하게 담았다! 영웅시대와 함께 더 큰 꿈을 꾸는 가수 임영웅의 하늘빛 축제가 스크린에서 펼쳐진다!
							</li>
						</ul>
					</div>



				</div>

			</div>

		</section>
		
		<section class="movie-Staff-wrap">
			<div class="movie-Staff">
				<p>스태프</p>
				<div class="movie-staff-contents">
					<div>
						<ul>
							<li><span>감독 : </span><span>임영웅</span></li>
						</ul>

					</div>


					<div class="movie-actor">
						<ul>
							<li><span>배우 : </span><span>임영웅</span><br>
							<span>배역 : </span><span>임영웅</span></li>
							<li><span>배우 : </span><span>전송희</span><br>
							<span>배역 : </span><span>전송희</span></li>
							<li><span>배우 : </span><span>김유진</span><br>
							<span>배역 : </span><span>이유진</span></li>
						</ul>
					</div>




				</div>

				<div class="movie-awards">
					<p>수상내역</p>
					
					<ul>
						<li>수상 내역이 존재하지 않습니다.</li>
						<li>수상 내역이 존재하지 않습니다.</li>
						<li>수상 내역이 존재하지 않습니다.</li>
						<li>수상 내역이 존재하지 않습니다.</li>
					</ul>



				</div>


			</div>

		</section>
		
		
		<section class="comment-wrap">
			<div class="comments">
			  <p>리뷰&별점</p>
			  
			  <div class="write-comment">
			  	<form>
			  		<div class="rating">
						<label class="rating__label rating__label--half" for="starhalf">
				            <input type="radio" id="starhalf" class="rating__input" name="rating" value="1">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--full" for="star1">
				            <input type="radio" id="star1" class="rating__input" name="rating" value="2">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--half" for="star1half">
				            <input type="radio" id="star1half" class="rating__input" name="rating" value="3">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--full" for="star2">
				            <input type="radio" id="star2" class="rating__input" name="rating" value="4">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--half" for="star2half">
				            <input type="radio" id="star2half" class="rating__input" name="rating" value="5">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--full" for="star3">
				            <input type="radio" id="star3" class="rating__input" name="rating" value="6">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--half" for="star3half">
				            <input type="radio" id="star3half" class="rating__input" name="rating" value="7" checked>
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--full" for="star4">
				            <input type="radio" id="star4" class="rating__input" name="rating" value="8">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--half" for="star4half">
				            <input type="radio" id="star4half" class="rating__input" name="rating" value="9">
				            <span class="star-icon"></span>
				        </label>
				        <label class="rating__label rating__label--full" for="star5">
				            <input type="radio" id="star5" class="rating__input" name="rating" value="10">
				            <span class="star-icon"></span>
				        </label>
			  		
			  			
			  		</div>
			  		
			  		<div class="comment">
			  		   <input type="text" placeholder="코멘트를 남겨주세요">
			  		   <button class="cmbtn1">작성</button>
			  		</div>
			  	
			  	</form>
			  
			  </div>
			  
			  <div class="show-comment">
			   	<ul>
			   		<li><span>전송희</span><span>4.5</span><p>임영웅이 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   		<li><span>이유진</span><span>5.0</span><p>전 전송희가 좋아요</p></li>
			   	</ul>
			  
			  
			  
			  </div>
			
			
			</div>
		

		
		
		
		</section>
		
	</main>
</body>

</html>