<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
    <link rel="stylesheet" type="text/css" href="/css/movieDetail/movieDetail.css">
	<script src="/js/movieDetail/movieDetail.js" defer></script>

</head>

<body>

	<main id="movie-detail">

		<section id="video-wrap">
		   <div class="video">
		   	<iframe src="https://www.youtube.com/embed/zi44N3PGvJw?si=ybwkIHjMRBIlpg0s"frameborder="0" allowfullscreen=""></iframe>
		   </div>
			
			
			<div class="movie-info">
				<ul>
					<li>임영웅ㅣ아임 히어로 더 스타디움 </li>
					<li><span>2024</span><span>공연실황/다큐멘터리</span><span>한국</span></li>
					<li><span>1시간 49분</span><span>전체</span></li>
					<li><span>예매순위 1위</span><span>개봉날짜</span><span>누적판매 461명</span></li>
				</ul>
			
			</div>
		</section>

		<section id="movie-contents">
			<div class="movie-contents-wrap">
				<div class="movie-poster">
					<img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240814_263%2F1723612743690sGgr8_JPEG%2Fmovie_image.jpg" alt="Movie Poster">
				</div>
				<div class="movie-comment">
					<div class="movie-rating">
						<div class="wrap">
							<div class="rating">
								<label class="rating__label rating__label--half" for="starhalf">
									<input type="radio" id="starhalf" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label> <label class="rating__label rating__label--full" for="star1">
									<input type="radio" id="star1" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label> <label class="rating__label rating__label--half"
									for="star1half"> <input type="radio" id="star1half"
									class="rating__input" name="rating" value=""> <span
									class="star-icon"></span>
								</label> <label class="rating__label rating__label--full" for="star2">
									<input type="radio" id="star2" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label> <label class="rating__label rating__label--half"
									for="star2half"> <input type="radio" id="star2half"
									class="rating__input" name="rating" value=""> <span
									class="star-icon"></span>
								</label> <label class="rating__label rating__label--full" for="star3">
									<input type="radio" id="star3" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label> <label class="rating__label rating__label--half"
									for="star3half"> <input type="radio" id="star3half"
									class="rating__input" name="rating" checked> <span
									class="star-icon"></span>
								</label> <label class="rating__label rating__label--full" for="star4">
									<input type="radio" id="star4" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label> <label class="rating__label rating__label--half"
									for="star4half"> <input type="radio" id="star4half"
									class="rating__input" name="rating" value=""> <span
									class="star-icon"></span>
								</label> <label class="rating__label rating__label--full" for="star5">
									<input type="radio" id="star5" class="rating__input"
									name="rating" value=""> <span class="star-icon"></span>
								</label>
							</div>
						</div>
					</div>
					<p class="movie-description">
					    여기에 영화 설명을 넣으세요. 이 영화는 흥미진진한 스토리와
						뛰어난 연기로 관객들을 사로잡습니다. 감동과 재미를 동시에 선사하는 이 작품은 올해 최고의 영화 중 하나로 손꼽힙니다.
					</p>
				</div>


			</div>


		</section>
	</main>
</body>

</html>