.footer {
    background-color: #1B1D1F;
    color: var(--main-white);
    padding: 20px;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
.footer-class{
	display: flex;
	justify-content: space-between;
	width: 1200px;
}
.footer-content {
    max-width: 1200px;
    margin: 30px auto;
}
.footer-row {
    margin-bottom: 10px;
}
.footer-row:last-child {
    margin-bottom: 0;
}
.footer-row a {
	display: inline-block;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.admin-button{
	margin-top : 20px;
	padding: 10px;
	border: 0.5px solid var(--main-white);
	background-color: var(--main-black);
	color: var(--main-white);
}