@charset "UTF-8";

header{width: 100%; background-color:var(--main-black); color: var(--main-white); position: fixed; top: 0; left: 0; z-index: 1000; 
}

.cmheader-wrap{width: 70%; margin: 0 auto;}

a{display: block;}

header .header-top{ display: flex; justify-content: space-between; padding-top: 20px;border-bottom: 1px solid var(--main-white); height:73px;padding-bottom: 10px}


.logo a img{width: 190px; height: 30px}

.info{display: flex; align-items:flex-end; }

.sns li ,.info li, .nav-bottom li{margin-right: 10px}

.sns a ,.info a{ font-size: 13px; }

.sns li i,.nav-bottom li i{margin-right: 2.5px}

.nav-top{display: flex; justify-content: center; padding-right: 32px}



.nav-top>li>a{width: 110px;  height: 43px; text-align: center;line-height: 43px;font-weight: 600}
.nav-top > li:nth-of-type(n+2):nth-of-type(-n+5) > a::before {content: ""; display:block; width: 1px; height: 8px; background-color:var(--main-white); float: left; margin-top: 19px}



.nav-top>li>a:hover{border-bottom: 2px solid red;}

.header-bottom{position: relative;}

.nav-bottom{display: flex; justify-content: flex-end; font-size: 13px; position: absolute; top:50%; right: 0; transform:translateY(-50%);}

.navtop-sub>li>a{padding: 0px 22px;  line-height: 44px;font-size: 14px}

.navtop-sub>li>a:hover{font-weight: 600}

.navtop-sub{justify-content: center; position: absolute;top: 43px;left: -15vw;width: 100vw; background-color:rgba(50, 50, 50, 0.8); color: #FFF;
			opacity: 0; height: 0; display:  flex;  overflow: hidden;  transition: all .4s; 	}

.navtop-sub.active{opacity: 1; height: 44px;}