<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<head>
<link rel="stylesheet" type="text/css" href="/css/common/index.css">

<script src="/js/common/index.js" defer></script>

</head>

<body>

	<main>
		<section id="index">
			<div class="indexslide-container">
				<ul class="indexslide-wrap">
					<li class="indexslide"></li>
					<li class="indexslide"></li>
					<li class="indexslide"></li>
				</ul>

				<a href="#" id="prev"><i class="fa-solid fa-chevron-left"></i></a> <a
					href="#" id="next"><i class="fa-solid fa-chevron-right"></i></a>

			</div>
			<!--container end -->

		</section>
<section class="search-area">
    <div class="search-container">
        <h2 class="index-title">영화 검색</h2>
        <form id="search-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="text" id="keyword" class="search-box" placeholder="검색어를 입력하세요..." required>
            <button type="submit" class="search-button" id="search-button">검색</button>
        </form>
        <div class="search-text" id="trendsList">
            <a href="#"><span>#추천검색</span></a>
            <a href="#"><span>#액션</span></a>
            <a href="#"><span>#코미디</span></a>
        </div>
    </div>
    <!-- 검색 결과를 표시할 부분 -->
    <h2 class="index-title" id="search-results-title" style="display: none;">검색결과</h2>
    <div id="movie-list"></div>
</section>


		<div class="container">
			<section class="movie-list">
				<h2 class="index-title">박스오피스 TOP10</h2>

				<div class="movie-grid" id="boxOfficeContainer">
					<!-- 영화 포스터 항목들 -->

					<ul class="movie-info">
					</ul>

				</div>
			</section>
		</div>
		<section class="movie-list2">
			<div class="container">
				<h2 class="index-title">베스트 리뷰어 랭킹</h2>
				<div class="wrap">

					<div class="review-event">
						<img src="/img/index/banner02.png" alt="">
					</div>

					<div class="ranking-container">
						<h3 class="ranking-title">주간 랭킹</h3>
						<ul class="ranking-list">
							<li class="ranking-item"><span class="rank">1</span> <img
								src="/img/index/profileicon.png" alt="" class="profile-img">
								<span class="name">박효민</span> <span class="points">232,448</span>
							</li>
							<li class="ranking-item"><span class="rank">2</span> <img
								src="/img/index/profileicon.png" alt="" class="profile-img">
								<span class="name">김연두</span> <span class="points">186,225</span>
							</li>
							<li class="ranking-item"><span class="rank">3</span> <img
								src="/img/index/profileicon.png" alt="" class="profile-img">
								<span class="name">김도영</span> <span class="points">165,730</span>
							</li>
							<li class="ranking-item"><span class="rank">4</span> <img
								src="/img/index/profileicon.png" alt="" class="profile-img">
								<span class="name">전송희</span> <span class="points">154,982</span>
							</li>
							<li class="ranking-item"><span class="rank">5</span> <img
								src="/img/index/profileicon.png" alt="" class="profile-img">
								<span class="name">유해리</span> <span class="points">143,675</span>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</section>
		<div class="container">

			<section class="movie-list">
				<h2 class="index-title">#최신 개봉작</h2>
				<div class="movie-grid" id="movieContainer"></div>
			</section>

			<section class="movie-list">
				<h2 class="index-title">#개봉 예정작</h2>
				<div class="movie-grid" id="movieContainer3">

					<!-- 추가 영화 항목들... -->
				</div>
			</section>

			<section class="movie-list">
				<h2 class="index-title">#여름엔 #공포 #스릴러</h2>

				<div class="movie-grid" id="movieContainer2">

					<!-- 추가 영화 항목들... -->
				</div>
			</section>
			<section class="movie-list">
				<h2 class="index-title">#애니메이션 #어린이영화</h2>
				<div class="movie-grid" id="movieContainer4">

					<!-- 추가 영화 항목들... -->
				</div>
			</section>
		</div>
	</main>
</body>

</html>