<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/common/layout :: layout(~{::head} ,~{::main} ) }">

<head>
    <link rel="stylesheet" type="text/css" href="/css/common/index.css">
	<script src="/js/common/index.js" defer></script>

</head>

<body>

	<main>
		<section id="index">
			<div class="indexslide-container">
				<ul class="indexslide-wrap">
					<li class="indexslide"></li>
					<li class="indexslide"></li>
					<li class="indexslide"></li>
				
				</ul>
				
				<a href="#" id="prev"><i class="fa-solid fa-chevron-left"></i></a>
				<a href="#" id="next"><i class="fa-solid fa-chevron-right"></i></a>
			
	
			
			</div> <!--container end -->
		
	
		</section>
	</main>
</body>

</html>