/* CSS를 'detail-page' 클래스에 속한 요소들에만 적용되도록 설정 */

.detail-page .header-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.detail-page nav a {
    color: #007bff;
    text-decoration: none;
}

.detail-page nav a:hover {
    text-decoration: underline;
}

.detail-page .section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.detail-page p {
    margin: 5px 0;
}

.detail-page .recommend-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.detail-page .editor-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
