<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{views/common/layout :: layout(~{::head}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 페이지</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" href="/css/recommend/write.css">
</head>
<body>
<main>
    <div class="container">
        <p class="page-title">홈시어터 정보 공유 게시판 글쓰기</p>

        <form id="writeForm" method="post" action="/hometheater" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p>대표 이미지</p>
            <label class="posterLabel" style="width: 200px; height: 200px;">
                <span>대표 이미지 업로드</span>
                <input type="file" onchange="fileuploadS3Temp(this)" class="item-img" data-isdefault="true" accept="image/*" style="display: none">
                <div class="file-data"></div>
            </label>
            <p>추가 이미지</p>
            <div id="sub-images" class="sub-images" style="display: flex">
                <label class="posterLabel sub" style="width: 200px; height: 200px;">
                    <span>+</span>
                    <input type="file" onchange="fileuploadS3Temp(this)" class="item-img sub-img" data-isdefault="false" accept="image/*" style="display: none">
                    <div class="file-data"></div>
                </label>
            </div>

            <label for="category">카테고리</label>
            <select id="category" name="category" required>
                <option value="">카테고리 선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.type}"
                        th:text="${category.type}">카테고리명</option>
            </select>

            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>

            <label for="editor">내용</label>
            <div id="editor"></div><br><br>
            <input type="hidden" id="content" name="content">

            <div class="button-group">
                <button type="submit" id="submitButton">글 올리기</button>
                <button type="button" id="cancelButton">취소</button>
            </div>
        </form>
    </div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/js/hometheater/fileupload.js"></script>

</main>
</body>
</html>